/* start global rules */
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.container {
    margin: 0 auto;
    padding: 0 14px;
}
/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end global rules */ 
/* start varibles */
:root {
    --main-color: #2196f3;
    --fill-color: #f8f8f8;
    --border-color: #d1d1d1;
    --section-color: #ececec;
    --main-transition: .3s;
    --section-padding: 100px 0;
}
/* end varibles */
/* start components */
.main-heading {
    margin: 0 auto 100px;
    padding: 10px 25px;
    border: 4px solid #000;
    width: fit-content;
    cursor: default;
    position: relative;
    text-transform: uppercase;
    transition-delay: .15s;
}
.main-heading:hover {
    color: #fff;
    border-color: transparent;
}
.main-heading::before,
.main-heading::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
    transition: var(--main-transition);
    z-index: -1;
}
.main-heading::before {
    left: -30px;
}
.main-heading::after {
    right: -30px;
}
.main-heading:hover::before {
    left: 0;
    width: 60%;
    height: 100%;
    border-radius: 0;
}
.main-heading:hover::after {
    right: 0;
    width: 60%;
    height: 100%;
    border-radius: 0;
}
/* end components */
/* start header */
.header {
    box-shadow: 0 0 15px -10px #000;
    z-index: 2;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width: 767px) {
    .header .container {
        padding: 0;
    }
}
.header .logo {
    font-size: 30px;
    color: var(--main-color);
    font-weight: bold;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}
.header .container > ul {
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-basis: 80%;
}
@media (max-width: 767px) {
    .header .container > ul {
        margin: auto;
        flex-basis: 100%;
        justify-content: center;
    }
}
.header .container > ul > li > a {
    position: relative;
    padding: 0 20px;
    transition: .3s;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 18px;
}
@media (max-width: 767px) {
    .header .container > ul > li > a {
        padding: 0 10px;
        font-size: 14px;
        height: 50px; 
    }
}
.header .container > ul > li > a::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 0;
    margin-left: 50%;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    transition: var(--main-transition);
}
@media (max-width: 767px) {
    .header .container > ul > li > a::before {
        height: 2px;
    }
}
.header .container > ul > li > a::after {
    content: "";
    position: absolute;
    background-color: var(--fill-color);
    width: 0;
    height: 100%;
    margin-left: 50%;
    transition: var(--main-transition);
    left: 0;
    z-index: -1;
}
.header .container > ul > li > a:hover::before,
.header .container > ul > li > a:hover::after {
    width: 100%;
    margin-left: 0;
}
.header .container > ul > li:last-child .content {
    position: absolute;
    width: 100%;
    padding: 0 20px 50px;
    background-color: #fff;
    top: calc(100% + 50px);
    right: 0;
    opacity: 0;
    transition: var(--main-transition);
    pointer-events: none;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--main-color);
    border-bottom: 5px solid var(--main-color);
}
@media (max-width: 767px) {
    .header .container > ul > li:last-child .content {
        flex-direction: column;
        padding: 0;
    }
}
.header .container > ul > li:last-child .content .links {
    flex-basis: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header .container > ul > li:last-child .content .links li a {
    position: relative;
    border-bottom: 1px solid var(--border-color);
    display: block;
    padding: 20px;
    color: var(--main-color);
    transition: var(--main-transition);
    font-weight: bold;
}
.header .container > ul > li:last-child .content .links li a:hover {
    padding-left: 40px;
}
@media (max-width: 767px) {
    .header .container > ul > li:last-child .content .links li a {
        font-size: 14px;
        padding: 15px;
    }
}
.header .container > ul > li:last-child .content .links li a:after {
    content: "";
    position: absolute;
    background-color: var(--fill-color);
    width: 0;
    height: 100%;
    margin-left: 50%;
    transition: var(--main-transition);
    top: 0;
    left: 0;
    z-index: -1;
}
.header .container > ul > li:last-child .content .links li a:hover::after {
    width: 100%;
    margin-left: 0;
} 
.header .container > ul > li:last-child .content .links li a i {
    font-size: 20px;
    color: var(--main-color);
    margin-right: 20px;
}
@media (max-width: 767px) {
    .header .container > ul > li:last-child .content .links li a i {
        font-size: 18px;
    }
}
.header .container > ul > li:last-child:hover .content {
    top: calc(100%);
    opacity: 1;
    pointer-events: initial;
}
/* end header */
/* start landing */
.landing {
    position: relative;
    overflow: hidden;
}
.landing::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -50px;
    left: 0;
    background-color: var(--section-color);
    z-index: -1;
    transform: skewy(-5deg);
    transform-origin: top left;
}
.landing .container {
    display: flex;
    align-items: center;
    height: calc(100vh - 73px);
}
@media (max-width: 767px) {
    .landing .container {
        height: calc(100vh - 100px);
    }
}
.landing .text {
    flex: 1;
}
@media (max-width: 767px) {
    .landing .text {
        text-align: center;
    }
}
.landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -1px;
}
@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
        margin-bottom: 30px;
    }
}
.landing .text p {
    font-size: 24px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
}
@media (max-width: 767px) {
    .landing .text p {
        font-size: 15px;
    }
}
.landing img {
    position: relative;
    width: 400px;
    animation: up-and-down 4s linear infinite;
}
@media (max-width: 767px) {
    .landing img {
        display: none;
    }
}
.landing .go-down i {
    font-size: 30px;
    color: var(--main-color);
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translatex(-50%);
    transition: var(--main-transition);
    animation: bouncing 1.5s infinite linear;
}
.landing .go-down i:hover {
    color: #052b7c;
    animation-play-state: paused; 
}
/* end landing */
/* start animation */
@keyframes up-and-down {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}
@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translatey(0);
    } 
    40%, 60% {
        transform: translatey(-20px);
    }
}
/* end animation */
/* start articles */
.articles {
    padding: var(--section-padding);
}
.articles .content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.articles .content .box {
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 30px -5px #0000005a;
    transition: var(--main-transition);
    overflow: hidden;
}
.articles .content .box:hover {
    transform: translatey(-10px);
}
.articles .content .box img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 155px;
    transition: var(--main-transition);
}
.articles .content .box:hover img {
    transform: scale(1.08);
}
.articles .content .box .text {
    padding: 15px;
}
.articles .content .box .text h3 {
    padding: 0 0 15px;
    margin: 0;
    font-size: 14px;
}
.articles .content .box .text p {
    margin: 0;
    font-size: 13px;
    line-height: 1.5;
    color: #777;
}
.articles .content .box a {
    padding: 15px;
    display: block;
    color: var(--main-color);
    font-size: 14px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.articles .content .box a:hover i {
    transform: rotate(0deg);
    transform: scale(1.2);
}
.articles .content .box a i {
    font-size: 18px;
    transform: rotate(-45deg);
    transition: var(--main-transition);
}
.articles .content .box a::after {
    content: "";
    position: absolute;
    height: .5px;
    width: 100%;
    background-color: var(--border-color);
    left: 0;
    top: 0;
}
/* end articles */